/* Reset Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000; /* Fondo negro */
  color: #bfbfbf;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}


h1 {
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #f1f1f1;
  text-align: center;
}

p {
  font-size: 1rem;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #61dafb;
  transition: color 0.3s ease;
}

a:hover {
  color: #21a1f1;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.container-inicio {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.logo {
  width: 100px;
  margin: 10px;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.sidebar {
  background-color: #333;
  color: white;
  height: 100vh;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%); 
}

.sidebar.open {
  transform: translateX(0); 
}

.sidebar .toggle-btn {
  background-color: #444;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar nav ul li {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.sidebar nav ul li:hover {
  background-color: #555;
}


.main-content {
  margin-left: 250px; 
  padding: 20px;
  flex-grow: 1;
}

.main-content.with-sidebar {
  margin-left: 250px; 
  transition: margin-left 0.3s ease-in-out;
}

.main-content.without-sidebar {
  margin-left: 0; 
  transition: margin-left 0.3s ease-in-out;
}


.contenedor-nombre {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-nombre {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 10px;
}

.input-nombre:focus {
  border-color: #007bff;
  outline: none;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    margin-left: 200px;
    padding: 10px;
  }
}
